SPOTIFY_USER=your@email.com
SPOTIFY_PASS=password
SPOTIFY_URI=spotify:playlist:2WvtFSAkmcABdm3iAvYwXk

# for ircbot, optional
IRC_SERVER=irc.efnet.org
IRC_NICK=radio
IRC_PORT=6667
IRC_CHANNELS=#one,#two
